@use "admin-styles/mixin" as mixin;
@use "./variables";

.shipping {
  @include mixin.flex;

  .back-btn {
    @include mixin.square(2.5rem);
    background-color: variables.$color2;
    color: variables.$color1;
    @include mixin.flex;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    @include mixin.baseShadow;

    svg {
      transition: all 0.3s;
    }

    &:hover svg {
      translate: -0.25rem;
    }
  }

  > form {
    max-width: 450px;
    width: 100%;
    @include mixin.flex(column, center, stretch, 2rem);
    padding: 1.2rem;

    > h1 {
      @include mixin.heading(2px);
      margin: 2rem;
      text-align: center;
    }
    > input,
    > select {
      @include mixin.inputStyle;
      border: 1px solid rgba(31, 31, 31, 0.351);
      font-size: 1.05rem;
      border-radius: 5px;
    }

    > button {
      @include mixin.btn(1rem, variables.$color3, variables.$color1);
      border-radius: 5px;
      font-size: 1.05rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
