@use "./mixin" as mixin;

@media screen and (max-width: 1250px) {
  .admin-container {
    overflow: auto;
  }

  .dashboard {
    .widget-container,
    .graph-container,
    .transaction-container {
      justify-content: center;
      flex-wrap: wrap;
    }
    .graph-container {
      padding: 2rem;
    }
    .transaction-container {
      padding: 2rem;
      height: unset;
    }
  }

  .product-management {
    padding: 2rem;
  }

  .product-details {
    > main {
      flex-direction: column;
      align-items: center;
      .product-image {
        width: 100%;
        padding: -20px;
        margin: 0;
      }
      .product-details-info {
        width: 100%;
        h1 {
          font-size: 1.8rem;
          margin: 0.5rem 0;
        }
        p {
          max-width: 90%;
          font-size: 1rem;
          margin: 0.5rem 0;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .admin-container {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;

    > main,
    > aside {
      width: 100% !important;
    }

    // > main {
    //   overflow-y: visible !important;
    // }
    > aside {
      padding: 2rem 1rem;
    }
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    > img {
      margin-bottom: 1rem;
    }
    > div {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .product-search-page {
    display: block;
    padding: 0;

    > aside {
      @include mixin.flex(row, space-between, center);
      flex-wrap: wrap;
      box-shadow: none;
      > h2 {
        @include mixin.heading;
        font-size: 1.2rem;
      }
    }
    > main > input {
      width: 100%;
      border: 1px solid rgba(212, 212, 212, 0.379);
    }
  }
}

@media screen and (width<= 600px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;

    .nav-links {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 23px;
    }

    .left-icons,
    .right-icons {
      justify-content: center;
    }
  }

  .home > section {
    min-width: 250px !important;
    height: 8rem !important;
    margin: auto;
    background: url("../assets/images/cover.png") no-repeat center / cover;
  }

  .product-management {
    flex-direction: column;
    align-items: center;
    padding: 0;
    > section {
      max-width: 400px;
    }
  }

  .chart-container {
    padding: 0;
    > h1 {
      margin: 0;
      text-align: center;
    }
    > section {
      margin: 8rem auto;
    }
  }

  .dashboard-app-container > section {
    .coupon-form,
    .stopwatch {
      display: flex;
      flex-direction: column;
    }
    .stopwatch {
      align-items: center;
    }
  }

  .product-details {
    gap: 0.5rem;
    > section:last-of-type {
      padding: 0.8rem;

      article {
        > div {
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
}
